/*

/* overall theme values

*/

:root {
    /* colours */
    --color-primary: #4B337E;
    --color-secondary: #704AA4;
    --color-tetriery: #704AA4;

    --font-light: #E5CEA8;
    --font-dark: #24114D;
    
    --bg-primary: #E8E8E8;
    --bg-secondary: #F5F5F5;

    /* layout/structure */
    --outer_wrapper_margin: 48px;

    /* font/typography */
    font-size: 16px;
    --title_lg: 3em;
    --title_md: 2em;
    --title_sm: 1.5em;
    --prg_lg: 1.75em;
    --prg_md: 1.5em;
    --prg_sm: 1.25em;

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1, h2, h3, p, a {
    margin: 0;
    color: var(--main_font);
}