
/*

/*

*/

.cardWrapper {
    --padding_wrapper: 12px;
    border: 2px solid var(--main_font);
}

h3 {
    background-color: var(--color-primary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 var(--padding_wrapper) var(--padding_wrapper) var(--padding_wrapper);
}

.cardLink {

    & > p:first-of-type {
        text-align: right;
        background-color: var(--color-primary);
        padding-right: var(--padding_wrapper);
    }

    & > p:last-of-type {
        min-height: 240px;
        color: var(--bg-secondary);
        padding: var(--padding_wrapper);
        background-color: var(--color-secondary);
    }
}

.deletionButton {
    padding: var(--padding_wrapper);
    margin-left: var(--padding_wrapper);
    float: right;
}