/*

/*

*/

.row {

    color: var(--font-dark);
    line-height: 64px;
    
    font-size: var(--prg_lg);
    overflow:hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    & td {
        & * {
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }


        & input {
            height: 32px;
            width: 32px;
        }

        & a {
            color: blue;
            text-decoration: none;
        }

        & a:visited {
            color: purple;
        }

        & button {
            font-size: 24px;
        }
    }
    
}