
/*

/*

*/

.cardWrapper {
    --padding_wrapper: 12px;
    border: 2px solid var(--main_font);
}

h3 {
    background-color: var(--color-primary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 var(--padding_wrapper);
}

.cardLink {
    font-size: var(--title_lg);

    & > p:first-of-type {
        text-align: right;
        background-color: var(--color-primary);
        padding-right: var(--padding_wrapper);
    }

    & > p:last-of-type {
        height: 174px;
        font-size: var(--prg_sm);
        color: var(--bg-secondary);
        padding: var(--padding_wrapper);
        background-color: var(--color-secondary);
        overflow: hidden;
    }
}

.deletionButton {
    padding: var(--padding_wrapper);
    margin-left: var(--padding_wrapper);
    float: right;

    background-color: var(--color-primary);
    color: var(--font-light);
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    padding: 8px;
    margin: 6px;
    font-size: 20px;
    line-height: 15px;
    font-weight: 600;
    box-shadow: var(--shadow);
}