/*

/*

*/

.row {
    background-color: var(--bg-secondary);
    color: var(--font-dark);
    display: block;
    line-height: 64px;
    
    font-size: var(--prg_lg);

    & p {
        display: flex;
        justify-content: space-between;
        padding: 0px 16px;

        & div {
            display: flex;
            gap: 16px;

            & span {
                width: 100px;
                overflow: hidden;
                text-wrap: nowrap;
                text-overflow: ellipsis;

                & input {
                    height: 32px;
                    width: 32px;
                }

                & a {
                    color: blue;
                    text-decoration: none;
                }

                & a:visited {
                    color: purple;
                }

                & button {
                    font-size: 24px;
                }
            }
        }
    }
}