
/*

/*

*/

.cardWrapper {
    border: 2px solid var(--main_font);
    margin: 0;
}

/* .cardLink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

.cardLink > div {
    background-color: darkred;
    padding: 16px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 36px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardLink > div > p:first-of-type {
    text-align: right;
}

.cardLink > p {
    padding: 16px;
}

.deletionButton {
    padding: 16px;
    margin-left: 16px;
    float: right;
}