/*

/*

*/

.modalWrapper {
    display: block; /* test value, should be "none" upon delivery */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    min-height: 300px;
    min-width: 250px;
    /* height: 100%;
    width: 100%; */

    border-width: 0px;
    border-radius: 8px;
    box-shadow: var(--shadow);

    background-color: var(--bg-secondary);
}