/*

/* overall theme values

*/

:root {
    /* colours */
    --main_bg: #20242e;
    --main_font: #CCC5A6;
    --dark_font: var(--main_bg);

    /* layout/structure */
    --outer_wrapper_margin: 48px;

    /* font/typography */
    font-size: 16px;
    --title_lg: 3em;
    --title_md: 2em;
    --title_sm: 1.5em;
    --prg_lg: 1.75em;
    --prg_md: 1.5em;
    --prg_sm: 1.25em;
}

h1, h2, h3, p, a {
    margin: 0;
    color: var(--main_font);
}