
/*

/*

*/

.header {
    color: var(--font-light);
    padding: var(--outer_wrapper_margin);
    font-size: var(--title_lg);

    display: grid;
    grid-template-columns:  1fr;

    & > h1 {
        line-height: 1em;
    }

    & > input {
        font-size: var(--title_mb);
        color: var(--font-dark);
    }
}