
/*

/*

*/

.header {
    color: var(--main_font);
    padding: var(--outer_wrapper_margin);
    font-size: var(--title_lg);

    display: grid;
    grid-template-columns:  1fr;

    border-bottom: 1px solid var(--main_font);
}

header > h1 {
    line-height: 1em;
}

header > input {
    font-size: var(--title_mb);
    color: var(--dark_font);
}