
/*

/*

*/

.main {
    color: var(--main_font);
    padding: var(--outer_wrapper_margin);
    font-size: var(--title_lg);

    /* height: 100%; */
    /* display: flex; */
    /* align-items: flex-end; */

    margin-bottom: 20px;
    border-bottom: 1px solid var(--main_font);
}

main > p {
    margin: 0;
    line-height: 1em;
}