
/*

/*

*/

.main {
    color: var(--main_font);
    padding: var(--outer_wrapper_margin);
    font-size: var(--title_lg);
}

.main p {
    margin: 0;
    line-height: 1em;
}

.main a {
    color: var(--main_font);
    text-decoration: none;
}

.modListGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 48px;
}