
/*

/*

*/

.main {
    color: var(--font-dark);

    padding: var(--outer_wrapper_margin);


    & p {
        margin: 0;
        line-height: 1em;
    }

    & a {
        color: var(--font-light);
        text-decoration: none;
    }
}

.modListGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: auto;
    grid-gap: 48px;
}

@media (min-width: 0px) and (max-width: 899px) {
    .modListGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 900px) and (max-width: 1249px) {
    .modListGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


/*
setup responsive grid here
1 column ->
2 ->
3 max

*/